@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: system-ui, "serif" !important;
  color: white;
  font-size: 16px;
  text-decoration: none;
  z-index: 2;
}

body {
  width: 100vw;
  height: 100vh;
}

body #container {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/technology/background-technology-desktop.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  /*header*/
  /*section*/
}

body #container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #040307;
  opacity: .7;
  z-index: -1;
}

body #container header {
  width: 100%;
  height: 20%;
  padding: 40px 0 40px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container header #between-line {
  width: 30%;
  position: relative;
}

body #container header #between-line #line {
  width: 100%;
  border-top: 0.1px solid #4b4a4a;
  position: relative;
  right: -15%;
}

body #container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 1.7rem;
  width: 60%;
  height: 100%;
  background-color: rgba(42, 38, 100, 0.7);
  z-index: 2;
  position: relative;
}

body #container header nav #blur {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 48, 58, 0.5);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;
}

body #container header nav .nav-number {
  font-size: small;
  font-weight: bolder;
}

body #container header nav li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  text-transform: uppercase;
  -webkit-transition: border .1s ease;
  transition: border .1s ease;
  position: relative;
}

body #container header nav li::after {
  content: "";
  display: block;
  background: white;
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 50%;
  /* Position X halfway in */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width .2s ease-out;
  transition: width .2s ease-out;
}

body #container header nav li:hover:after {
  width: 60%;
}

body #container header nav li a, body #container header nav li span {
  font-size: .7rem;
  -webkit-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
}

body #container header nav li:hover {
  cursor: pointer;
}

body #container header nav li:hover a, body #container header nav li:hover span {
  color: #b5abee;
}

body #container header nav .technology::after {
  width: 60%;
}

body #container h2 {
  margin: 20px 0 0 6%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.8rem;
  font-weight: 400;
}

body #container h2 span {
  color: #5f5c5c;
  font-weight: bold;
  font-size: 1.7rem;
}

body #container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60%;
  margin-left: 6%;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

body #container section #buttons {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
  margin-top: 8%;
}

body #container section #buttons .btn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid gray;
  color: white;
  background-color: transparent;
}

body #container section #buttons .btn:hover {
  cursor: pointer;
  color: #9090a1;
}

body #container section #buttons .active {
  color: black;
  background-color: white;
  border: none;
}

body #container section #buttons .active:hover {
  cursor: pointer;
  background-color: rgba(218, 235, 255, 0.9);
}

body #container section #text {
  width: 40%;
  margin-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .7rem;
}

body #container section #text #termo {
  font-size: .9rem;
  color: dimgray;
  font-weight: 600;
}

body #container section #text #title {
  font-size: 3.1rem;
  font-family: 'sans-serif' !important;
}

body #container section #text #description {
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

body #container section #im {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body #container section #im img {
  display: block;
  width: 90%;
  height: 30rem;
  -o-object-fit: fill;
     object-fit: fill;
}

@media only screen and (max-width: 1020px) {
  html {
    font-size: 10px;
  }
  html header {
    padding: 0;
  }
  html #container {
    min-height: 100vh;
  }
  html #container header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 13%;
    gap: 10px;
    padding: 10px 30px;
  }
  html #container header div#line {
    display: none;
  }
  html #container header nav {
    width: 90%;
    height: 30%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 700;
    gap: 0;
  }
  html #container header nav li {
    width: 25%;
  }
  html #container h2 {
    font-size: 1rem;
  }
  html #container h2 span {
    font-size: .9rem;
  }
  html #container #section {
    width: 90%;
    min-height: 65%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html #container #section #buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0 20%;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 0;
  }
  html #container #section #text {
    width: 100%;
    text-align: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 0;
  }
  html #container #section #im {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  html #container #section #im img {
    width: 100%;
    height: 20rem;
  }
}
/*# sourceMappingURL=technology.css.map */