@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "serif" !important;
    color: white;
    font-size: 16px;
    text-decoration: none;
    z-index: 2;
}

body{
    width: 100vw;
    height: 100vh;

    #container{
        width: 100vw;
        height: 100vh;
        background-image: url("../assets/technology/background-technology-desktop.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;

        &::after{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgb(4, 3, 7);
            opacity: .7;
            z-index: -1;
        }

        /*header*/
        header{
            width: 100%;
            height: 20%;
            padding: 40px 0 40px 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            #between-line{
                width: 30%;
                position: relative;

                #line{
                    width: 100%;
                    border-top: .1px solid rgb(75, 74, 74);
                    position: relative;
                    right: -15%;
                }
            }
            nav{
                display: flex;
                font-size: 12px;
                justify-content: left;
                gap: 1.7rem;
                width: 60%;
                height: 100%;
                background-color: rgba(42, 38, 100, 0.7);
                z-index: 2;
                position: relative;

                #blur{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(41, 48, 58, 0.5);
                    filter: blur(20px);
                    z-index: -1;
                }
                .nav-number{
                    font-size:small;
                    font-weight: bolder;
                }
                
                li{
                    list-style: none;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 15%;
                    text-transform: uppercase;
                    transition: border .1s ease;
                    position: relative;

                    &::after{
                        content: "";
                        display: block;
                        background: white;
                        width: 0px;
                        height: 2px;
                        position: absolute;
                        bottom: -3px;
                        left: 50%; /* Position X halfway in */
                        transform: translate(-50%,-50%);
                        transition: width .2s ease-out;
                      } 
                    &:hover:after{
                    width: 60%;
                    }
                    
                    a, span{
                        font-size: .7rem;
                        transition: color .4s ease-in-out;
                    }

                    &:hover{
                        cursor: pointer;
                        a, span{
                            color: rgb(181, 171, 238);
                        }
                    }
                }
                .technology::after{
                    width: 60%;
                }

            }
        }

        h2{
            margin: 20px 0 0 6%;
            color: white;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 1.8rem;
            font-weight: 400;
            span{
                color: rgb(95, 92, 92);
                font-weight: bold;
                font-size: 1.7rem;
            }
        }

        /*section*/
        section{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 60%;
            margin-left: 6%;
            transition: opacity .3s ease;

            #buttons{
                width: 10%;
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                margin-top: 8%;

                .btn{
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    border: 1px solid gray;
                    color: white;
                    background-color: transparent;

                    &:hover{
                        cursor: pointer;
                        color: rgb(144, 144, 161);
                    }
                }

                .active{
                    color: black;
                    background-color: white;
                    border: none;

                    &:hover{
                        cursor: pointer;
                        background-color: rgba(218, 235, 255, 0.9);
                    }
                }
            }

            #text{
                width: 40%;
                margin-top: 8%;
                display: flex;
                flex-direction: column;
                gap: .7rem;

                #termo{
                    font-size: .9rem;
                    color: dimgray;
                    font-weight: 600;
                }

                #title{
                    font-size: 3.1rem;
                    font-family: 'sans-serif' !important;
                }

                #description{
                    font-weight: 300;
                    font-size: 1.3rem;
                    letter-spacing: 1px;
                }
            }

            #im{
                width: 40%;
                display: flex;
                justify-content: flex-end;

                img{
                    display: block;
                    width: 90%;
                    height: 30rem;
                    object-fit:fill;
                }
            }
        }
    }
}

@media only screen and (max-width: 1020px) {
    html{
        font-size: 10px;

        header{
            padding: 0;
        }

        #container{
            min-height: 100vh;

            
            
            header{
                flex-direction: column;
                min-height: 13%;
                gap: 10px;
                padding: 10px 30px;

                
                div#line{
                    display: none;
                }
                nav{
                    width: 90%;
                    height: 30%;
                    justify-content: space-between;
                    font-weight: 700;
                    gap: 0;

                    li{
                        width: 25%;
                        
                    }
                }
            }

            h2{
                font-size: 1rem;

                span{
                    font-size: .9rem;
                }
            }

            #section{
                width: 90%;
                min-height: 65%;
                flex-direction: column;

                #buttons{
                    flex-direction: row;
                    justify-content: space-evenly;
                    padding: 0 20%;
                    width: 100%;
                    order: 2;
                    margin-top: 0;
                }
                
                #text{
                    width: 100%;
                    text-align: center;
                    order: 3;
                    margin-top: 0;
                }

                #im{
                    width: 100%;
                    order: 1;
                    justify-content: center;
                    margin-top: 20px;

                    img{
                        width: 100%;
                        height: 20rem;
                    }
                }
            }
        }
    }
}